awscli==1.22.55
ansible==5.0.1
ansible-core==2.12.1
boto==2.49.0
boto3==1.21.0
botocore==1.24.0
cffi==1.15.0
cryptography==36.0.0
ec2==0.4.0
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==21.3
pycparser==2.21
pyparsing==3.0.6
python-dateutil==2.8.2
resolvelib==0.5.4
s3transfer==0.5.0
kubernetes==22.6.0
jsonpatch==1.32